.circleDataClass {
    display: inline-block;
    float: left;
    border: inset 5px black;
    padding: 5px;
}

.coordinateSystemClass {
    display: inline-block;
    border: outset 5px black;
    float: right;
    margin-left: 10px;
}
