.circleDataClass {
    display: inline-block;
    float: left;
    border: inset 5px black;
    padding: 5px;
}
.circleGraphicsClass {
    display: inline-block;
    float: left;
}
.chartistCircleGraphClass {
    display: inline-block;
    float: left;
    margin-left: 10px;
    width: 500px;
    height: 500px;
}
