body {
    /*overflow: hidden;*/
    background-image: url('img/cool-white-background2.jpg')
}
input {
    width: 40px;
    border-radius: 4px;
}
button {
    background-color: #555555;
    border: none;
    color: lightgray;
    padding: 3px 7px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
button:hover {
    background-color: mediumseagreen;
    color: white;
}
p {
    margin: 3px;
}
h3 {
    margin: 1em 0 0.5em 0;
    color: #343434;
    font-weight: 900;
    font-family: 'Ultra', sans-serif;
    font-size: 16px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    /*text-shadow: 0 2px white, 0 3px #777;*/
}
.coordinateSystemClass {
    display: inline-block;
    border: outset 5px mediumseagreen;
    float: left;
    margin-left: 10px;
}
.ct-label {
    font-size: 14px;
    color: #000000;
}
line.ct-horizontal:first-child {
    stroke: black;
    stroke-dasharray: 0px;
    stroke-width: 2px;
}
line.ct-vertical:nth-child(14) {
    stroke: black;
    stroke-dasharray: 0px;
    stroke-width: 2px;
}