body {
    background-image: url('img/Mechanical-Engineering.jpg');
}
button {
    background-color: #555555;
    border: none;
    color: white;
    padding: 3px 7px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
button:hover {
    background-color: lightcoral;
    color: white;
}
h3 {
    margin: 1em 0 0.5em 0;
    color: #565656;
    font-weight: 900;
    font-family: 'Ultra', sans-serif;
    font-size: 16px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 2px white, 0 3px #777;
}