body {
    background-image: url('img/blueprint.jpg');
}
button {
    background-color: #555555;
    border: none;
    color: white;
    padding: 3px 7px;

    /*text-align: center;*/
    /*vertical-align: middle;*/

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 900;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    width: 200px;
    height: 70px;
    opacity: 0.9;

}
.classCircleCalc img{
    width: 60px;
    height: 60px;
}
.classEllipseCalc img{
    width: 64px;
    height: 40px;
}
.classPolygonsCalc img{
    width: 64px;
    height: 48px;
}
.infoClass img{
    width: 60px;
    height: 60px;
}
button img {
    padding-right: 5px;
}

button:hover {
    background-color: lightcoral;
    color: white;
}
h3 {
    margin: 1em 0 0.5em 0;
    color: #292929;
    font-weight: 900;
    font-family: 'Ultra', sans-serif;
    font-size: 20px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 2px white, 0 3px #777;
}
div h3 {
    background-color: lightgray;
    opacity: 0.8;
}
.buttonsClass {
    display: inline-block;
    float: left;
}
.imageClass {
    display: inline-block;
    float: right;
}
.pressStamp {
    width: 450px;
    height: 750px;
    opacity: 0.9;
    border: outset 5px lightgray;
}
.tipClass {
    z-index: 3;
    /*display: none;*/
    opacity: 0;
    position: fixed;
    /*background-color: black;*/
    width: 40px;
    height: 40px;

}
.tipClass title {
    font-size: 8px;
}
.tipc1 {
    margin-top: 270px;
    margin-left: 414px;
}
.tipc2 {
    margin-top: 142px;
    margin-left: 414px;
}
.tipc3 {
    margin-top: 225px;
    margin-left: 5px;
}
.tipc4 {
    margin-top: 255px;
    margin-left: 10px;
}
.tipc5 {
    margin-top: 15px;
    margin-left: 5px;
}
.tipc6 {
    margin-top: 315px;
    margin-left: 414px;
}
.tipc7 {
    margin-top: 225px;
    margin-left: 414px;
}
.tipc8 {
    margin-top: 95px;
    margin-left: 414px;
}
.tipc9 {
    margin-top: 285px;
    margin-left: 5px;
}
.tipc10 {
    margin-top: 65px;
    margin-left: 5px;
}
