body {
    overflow: hidden;
    background-image: url('img/cool-white-background2.jpg')
}
input {
    width: 50px;
}
.polygonDataClass {
    display: inline-block;
}
.subjectPolygonInputDataClass {
    padding: 5px;
    display: inline-block;
    border-left: solid 2px black;
}
.subjectPolygonInputDataClass input {
    width: 50px;
}
.clipPolygonInputDataClass {
    padding: 5px;
    display: inline-block;
    border-left: solid 2px black;
}
.readInputClass {
    display: none;
}
.coordinateSystemClass {
    border: 2px solid black;
    display: inline-block;
}