body {
    /*overflow: hidden;*/
    background-image: url('img/cool-white-background2.jpg')
}
input {
    width: 40px;
}
.polygonDataClass {
    display: inline-block;
    float: left;
}
.subjectPolygonInputDataClass {
    padding: 5px;
    display: inline-block;
    border-left: solid 2px black;
}
.clipPolygonInputDataClass {
    padding: 5px;
    display: inline-block;
    border-left: solid 2px black;
}
.inputDataClass {
    display: none;
}
.coordinateSystemClass {
    border: 2px solid black;
    display: inline-block;
    margin-left: 10px;
}
.coordinatesOutputsClass {
    display: inline-block;
    float: left;
}