.classDataEllipse{
    display: inline-block;
    float: left;
    border: inset 5px mediumvioletred;
    padding: 5px;
    margin: 5px;
}
.ellipseGraphicsClass {
    /*display: none;*/
}
.ellipseGraphicsDataClass {
    display: inline-block;
    float: left;
}
.chartistEllipseGraphClass {
    display: inline-block;
    float: left;
    margin-left: 10px;
    width:500px;
    height:500px;
}
h4 {
    margin: 3px;
}
